<div class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/images/hogwarts-logo.png"
        alt="hogwarts-logo"
        width="100"
        height="100"
      />
    </a>
    <div>
      <button mat-button [routerLink]="['/typicalSchoolYear']">Typical School Year</button>
      <button mat-button [routerLink]="['/staff']">Hogwarts Staff</button>
      <button mat-button [routerLink]="['/houses']">Hogwarts Houses</button>
      <button mat-button [routerLink]="['/dumbledoreArmy']" >Dumbledore's Army</button>
    </div>
  </div>
</div>

