<div class="header">
  <h1>
    "Now… to our new students, welcome, to our old students, welcome back!
    <br />
    year full of magical education awaits you…"
  </h1>
  <h6>Welcoming Feast speech</h6>
</div>

<div class="row hogwartsStation">
  <img
    class="col-lg-6 imgHogwartsStationPlatform"
    src="./../../../assets/images/hogwarts-express-platform.png"
    alt="hogwartsExpressPlatform"
  />
  <p class="col-lg-6 hogwartsStationText">
    Term began on 1 September. Students usually reached Hogwarts via the
    Hogwarts Express, which left Platform 9¾ of London's King's Cross Station at
    11 a.m. sharp.There seemed to be other ways of entering the school, such as
    via broomsticks or Floo Powder, or simply Apparating to a nearby location
    such as Hogsmeade.Missing the Hogwarts Express for any reason was a very
    serious problem, but would not cost the student points as long as they got
    there before the term had officially started.The Hogwarts Express
    brought the students to Hogsmeade station.
  </p>
</div>

<div class="row theFeast">
  <p class="col-lg-6 theFeastText">
    The Welcoming Feast took place in the Great Hall. This feast included the
    Sorting ceremony, followed by a few words from the current Headmaster or
    Headmistress. The banquet started after this, including large quantities of
    food and drink. The feast was closed with a few more words from the
    Headmaster or headmistress, including the usual "start-of-term notices".<br />
    After dinner, students were led to their house common room by a prefect.
    This was a special time for new students to get comfortable with their
    surroundings, because the next day classes would begin.The class schedules
    were handed out during breakfast by the Heads of House.
  </p>
  <img
    class="col-lg-6 imgTheSortingHat"
    src="./../../../assets/images/sorting-hat.png"
    alt="theSortingHat"
  />
</div>

<div class="row homework">
  <img
    class="col-lg-6 imgQuill"
    src="./../../../assets/images/quill.png"
    alt="quill"
  />
  <p class="col-lg-6 homeworkText">
    Homework was usually assigned to students at the end of classes or at the
    end of the school term. It was usually completed by students in the: Study
    Hall, Study Area, Library, Gryffindor Tower reading room or another common
    room. A homework planner could be used to help students to keep track of all
    their homework assignments. Some magical planners also told the students to
    complete the homework when it was opened. If a student failed to complete
    the homework or was late in handing it in, they could be given a detention
    as a punishment.
  </p>
</div>
