<!-- <div class="row" >
  <div class="col-lg-6"><a href=""><img src="./../../../assets/images/Slytherin.png" alt="" /></a></div>
  <div class="col-lg-6"><a href=""><img src="./../../../assets/images/Slytherin.png" alt="" /></a></div>
  <div class="col-lg-6"><a href=""><img src="./../../../assets/images/Slytherin.png" alt="" /></a></div>
  <div class="col-lg-6"><a href=""><img src="./../../../assets/images/Slytherin.png" alt="" /></a></div>
</div> -->

<div class="row">
  <div class="imageDiv col-lg-6 col-md-6 col-sm-6" *ngFor="let house of houses">
    <img (click)="showDetails(house.houseId)" [src]="house.houseImage" alt="" />
  </div>
</div>
