img {
  width: 200px;
  height: 200px;
  margin-top: 7%;
}

.row {
  margin: 0%;
  background-color: #383838;
  padding: 5%;
  padding-top: 6%;
}
.dialog {
  background-color: #383838;
}

.imageDiv {
  display: flex;
  justify-content: center;
}
