:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-label {
  color: aliceblue;
}

::ng-deep .mat-select-value {
  color: white !important;
}

button{
  background-color: #CDBE78;
  margin-right: 15px !important;   
}

input{
  color: aliceblue;
}
